/* DO NOT CHANGE THIS ROOT CLASS NAME*/
#task-2 {
  $color-primary: #86b111;

  $border-color: #ced4da;
  $border-radius: .25rem;

  $focus-color: #80bdff;

  @mixin state-focus {
    border-color: $focus-color;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
  }

  .form {
    padding: 1rem;
    box-sizing: border-box;
  }

  .form__label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 700;
  }

  .form__control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:focus {
      @include state-focus;
    }
  }

  .btn {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: $border-radius;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
    cursor: pointer;

    &:focus {
      @include state-focus;
    }
  }

  .btn--search {
    padding: .375rem;
    background-color: transparent;
    border-color: transparent;
  }

  .form-search {
    display: flex;
  }
}
