.todo {

}

.todo__label {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 1rem;
  border-bottom: 1px solid #e5e5e5;

  &:hover {
    cursor: pointer;
    border-bottom-color: black;
  }
}

.todo__checkbox:checked + .todo__label {
  text-decoration: line-through;
}